body {
    background-color: #fbfbfb;
}
    
p { 
    color: #616161;
    font-family: arial;
}

@media (min-width: 576px){
      
    body{
        font-size:12px;
        }
    }

@media(min-width: 768px){
    body{ font-size: 14px;
    }
}
    
@media(min-width: 992px){
    body{
        font-size: 16px;
    }
}

@media(min-width: 1200px){
    body{
        font-size: 18px;
    }
}
        
.library{   
    float:left;
    padding:5px;
    margin:25px; 
    margin-top:35px; 
    width: 300px;
    height: 190px;
    padding-bottom: 50px;
}
        
.button{
    width: 60px;
    height: 35px;
    font-size: 16px;
    font-family: arial;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 45px; 
    border:1px solid grey;
}

        
.delete_button{
    width:20px;
    height:20px; 
    position:relative; 
    top:10px; 
    left: 17px;
    float:right;    
    visibility: hidden;
}

.library_name{
    margin-top: 10px;
}
        